UPSTest/target/surefire-reports
UPSTest/target/maven-status/maven-compiler-plugin/compile/default-compile
UPSTest/target/classes
UPSTest/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile
UPSTest/target
